[submodule "extern/datetime-fortran"]
	path = extern/datetime-fortran
	url = ../../wavebitscientific/datetime-fortran.git
[submodule "extern/gotm"]
	path = extern/gotm
	url = ../../gotm-model/code.git
	branch = v6.0
